<launch>
  <include file="$(find gluon_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="gluon_final"
        pkg="moveit_tutorials"
        type="gluon_final"
        respawn="false" output="screen">
    <rosparam command="load"
              file="$(find gluon_moveit_config)/config/kinematics.yaml"/>
  </node>
</launch>
